.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 13px;
  color: var(--text-secondary);

  .custom-icon {
    font-size: 20px;
    color: var(--primary);
  }
}
